parameters:
	ignoreErrors:
		-
			message: '#^Method Ibexa\\Contracts\\CorePersistence\\Gateway\\AbstractDoctrineDatabase\:\:findBy\(\) should return array\<int, T of array\> but returns array\<int, array\<string, mixed\>\>\.$#'
			identifier: return.type
			count: 1
			path: src/contracts/Gateway/AbstractDoctrineDatabase.php

		-
			message: '#^Method Ibexa\\Contracts\\CorePersistence\\Gateway\\DoctrineOneToManyRelationship\:\:getForeignKeyColumn\(\) should return non\-empty\-string but returns ''''\.$#'
			identifier: return.type
			count: 1
			path: src/contracts/Gateway/DoctrineOneToManyRelationship.php

		-
			message: '#^PHPDoc tag @var with type Exception is not subtype of native type PHPUnit\\Framework\\MockObject\\MockObject\.$#'
			identifier: varTag.nativeType
			count: 1
			path: tests/bundle/Gateway/ExpressionVisitorTest.php

		-
			message: '#^PHPDoc tag @var with type class\-string is not subtype of native type ''relationship_1_class''\.$#'
			identifier: varTag.nativeType
			count: 1
			path: tests/bundle/Gateway/ExpressionVisitorTest.php

		-
			message: '#^PHPDoc tag @var with type class\-string is not subtype of native type ''relationship_2_class''\.$#'
			identifier: varTag.nativeType
			count: 1
			path: tests/bundle/Gateway/ExpressionVisitorTest.php

		-
			message: '#^PHPDoc tag @var with type class\-string is not subtype of native type ''relationship_class''\.$#'
			identifier: varTag.nativeType
			count: 3
			path: tests/bundle/Gateway/ExpressionVisitorTest.php

		-
			message: '#^PHPDoc tag @var with type class\-string is not subtype of native type ''FooClass''\.$#'
			identifier: varTag.nativeType
			count: 1
			path: tests/integration/Fixtures/FooGateway.php

		-
			message: '#^PHPDoc tag @var with type class\-string is not subtype of native type ''Relationship1Class''\.$#'
			identifier: varTag.nativeType
			count: 1
			path: tests/integration/Fixtures/FooGateway.php

		-
			message: '#^PHPDoc tag @var with type class\-string is not subtype of native type ''Relationship3Class''\.$#'
			identifier: varTag.nativeType
			count: 1
			path: tests/integration/Fixtures/FooGateway.php

		-
			message: '#^PHPDoc tag @var with type class\-string is not subtype of native type ''Relationship1Class''\.$#'
			identifier: varTag.nativeType
			count: 1
			path: tests/integration/Fixtures/Relationship1Gateway.php

		-
			message: '#^PHPDoc tag @var with type class\-string is not subtype of native type ''Relationship2Class''\.$#'
			identifier: varTag.nativeType
			count: 1
			path: tests/integration/Fixtures/Relationship1Gateway.php

		-
			message: '#^PHPDoc tag @var with type class\-string is not subtype of native type ''Relationship2Class''\.$#'
			identifier: varTag.nativeType
			count: 1
			path: tests/integration/Fixtures/Relationship2Gateway.php
