<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         failOnWarning="true"
         colors="true"
         cacheDirectory=".phpunit.cache">
    <php>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="max[self]=0&amp;max[direct]=0&amp;max[indirect]=15&amp;verbose=0"/>
    </php>
    <extensions>
        <bootstrap class="Symfony\Bridge\PhpUnit\SymfonyExtension"/>
    </extensions>
    <testsuites>
        <testsuite name="bundle">
            <directory>tests/bundle</directory>
        </testsuite>
        <testsuite name="lib">
            <directory>tests/lib</directory>
        </testsuite>
    </testsuites>
</phpunit>
