<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
        bootstrap="vendor/autoload.php"
        failOnWarning="true"
        colors="true">
    <php>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="max[self]=0&amp;max[direct]=0&amp;max[indirect]=15&amp;verbose=0"/>
    </php>
    <testsuites>
        <testsuite name="bundle">
            <directory>tests/bundle</directory>
        </testsuite>
        <testsuite name="lib">
            <directory>tests/lib</directory>
        </testsuite>
    </testsuites>
</phpunit>
