<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         failOnWarning="true"
         failOnNotice="true"
         colors="true"
         cacheDirectory=".phpunit.cache"
         failOnDeprecation="true"
         displayDetailsOnTestsThatTriggerDeprecations="true">
    <testsuites>
        <testsuite name="bundle">
            <directory>tests/bundle</directory>
        </testsuite>
        <testsuite name="lib">
            <directory>tests/lib</directory>
        </testsuite>
    </testsuites>
    <source baseline="phpunit.baseline.xml" ignoreIndirectDeprecations="false" ignoreSuppressionOfDeprecations="true">
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
